<div class="smallForm">
  <h1 style="margin:16px 0 0 0; font-size:48px;">> Insecure 3 <</h1><br /><hr /><br />
  <form name="secure3Form" method="GET" action="/secure3">
    <input class="textField" type="text" placeholder="Username" id="username" name="username" ng-model="username" autocomplete="off" required />
    <input class="textField" type="password" placeholder="Password" id="password" name="password" ng-model="password" autocomplete="off" required />
    <input type="submit" class="button blue submit" ng-disabled="{{secure3Form.$invalid}}" value="Login" />
    <a href="#!register"><button class="button default" click>Register</button></a>
    <div>
      {{response}}
    </div>
  </form>
</div>
