<div class="smallForm" style="width:640px;">
  <h1 style="margin:16px 0 0 0; font-size:48px;">> Welcome to iMean <</h1>
  <div class="about">
    iMean is a NOSQL injectable app to help you learn about NOSQL Injection. Click <a href="https://www.owasp.org/index.php/Testing_for_NoSQL_injection">here</a> to find more about NOSQL Injection. iMean consists of 3 login pages each using different method for sending data to server. These methods are:
    <ol type="I" style="text-indent:.5em;">
      <li>
        JSON data with POST method <small>(Secure 1 and Insecure 1)</small>
      </li>
      <li>
        Simple form POST method <small>(Secure 2 and Insecure 2)</small>
      </li>
      <li>
        GET method <small>(Secure 3 and Insecure 3)</small>
      </li>
    </ol>
    You may need Burp Suite to change some requests.
    If there is no users try registering one.
  </div>
</div>
